---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&username=<salesforce_username_url>&password=<salesforce_password_url><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<salesforce_access_token>","instance_url":"<salesforce_instance_url>","id":"<salesforce_id>","token_type":"Bearer","issued_at":"1611864626096","signature":"<salesforce_signature>"}'
  recorded_at: Thu, 28 Jan 2021 20:10:26 GMT
- request:
    method: get
    uri: "<salesforce_instance_url>/services/data/v37.0/query?q=SELECT%20Id,%20TermYear__c,%20Book_Text__c,%20Contact__c,%20New__c,%20CloseDate,%20StageName,%20Type,%20Students__c,%20Student_No_Status__c,%20Time_Period__c,%20Class_Start_Date__c,%20AccountId,%20Book__c,%20LeadSource,%20OS_Accounts_ID__c,%20Name%20FROM%20Opportunity%20WHERE%20(Id%20=%20%270062F00000BG056QAD%27)%20LIMIT%201"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=1496/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Opportunity","url":"/services/data/v37.0/sobjects/Opportunity/0062F00000BG056QAD"},"Id":"0062F00000BG056QAD","TermYear__c":"2020
        - 21 Fall","Book_Text__c":null,"Contact__c":"0032F00000cfZQhQAM","New__c":true,"CloseDate":"2020-09-02","StageName":"Confirmed
        Adoption (1)","Type":"Renewal - Verified","Students__c":123.0,"Student_No_Status__c":"Reported","Time_Period__c":"Year","Class_Start_Date__c":"2020-09-02","AccountId":"0012F00000iPxe9QAC","Book__c":null,"LeadSource":"openstax-salesforce-api","OS_Accounts_ID__c":null,"Name":"-
        teacher 21"}]}'
  recorded_at: Thu, 28 Jan 2021 20:10:26 GMT
- request:
    method: patch
    uri: "<salesforce_instance_url>/services/data/v37.0/sobjects/Opportunity/0062F00000BG056QAD"
    body:
      encoding: UTF-8
      string: '{"CloseDate":"2020-09-02","Students__c":"123","Class_Start_Date__c":"2020-09-02","Name":"OS
        Salesforce API"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=1497/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 28 Jan 2021 20:10:27 GMT
recorded_with: VCR 6.0.0
