---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&grant_type=password&password=<salesforce_password>25<salesforce_security_token>&username=<salesforce_username>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<salesforce_access_token>","instance_url":"<salesforce_instance_url>","id":"<salesforce_id>","token_type":"Bearer","issued_at":"1615498575803","signature":"kMhm/S6ojG9A8NuFfF3i8CJTqA0YxtrtSO1d6E0dvHw="}'
  recorded_at: Thu, 11 Mar 2021 21:36:15 GMT
- request:
    method: get
    uri: https://pi.demo.pardot.com/api/list/version/4/do/query?format=simple&is_greater_than=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <salesforce_access_token>
      Pardot-Business-Unit-Id:
      - 0Uv0v0000004C9mCAE
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pardot-Rsp:
      - 25/78/160
      Content-Type:
      - text/xml; charset=utf-8
      X-Pardot-Route:
      - 4fa993bd92d83a19a78f84f1ddd264ce
      X-Pardot-Lb:
      - 81ef3179da45557cd28f9ba13d8805bd
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rsp stat="ok" version="1.0">
           <result>
              <total_results>5</total_results>
              <list>
                 <id>5355</id>
                 <name>Customers</name>
                 <is_public>true</is_public>
                 <is_dynamic>false</is_dynamic>
                 <title>Customer News</title>
                 <description>This is for all customers to learn awesome new things</description>
                 <is_crm_visible>false</is_crm_visible>
                 <created_at>2021-03-05 14:50:08</created_at>
                 <updated_at>2021-03-10 12:45:12</updated_at>
              </list>
              <list>
                 <id>5357</id>
                 <name>Partners</name>
                 <is_public>false</is_public>
                 <is_dynamic>false</is_dynamic>
                 <title/>
                 <description/>
                 <is_crm_visible>false</is_crm_visible>
                 <created_at>2021-03-05 14:50:08</created_at>
                 <updated_at>2021-03-05 14:50:08</updated_at>
              </list>
[...]
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&username=<salesforce_username_url>&password=<salesforce_password_url><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<salesforce_access_token>","instance_url":"<salesforce_instance_url>","id":"<salesforce_id>","token_type":"Bearer","issued_at":"1615498576807","signature":"<salesforce_signature>"}'
  recorded_at: Thu, 11 Mar 2021 21:36:16 GMT
recorded_with: VCR 6.0.0
