---
http_interactions:
- request:
    method: post
    uri: https://pi.pardot.com/api/prospect/version/4/do/read/fid/not-real-id?format=simple
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Pardot api_key=5cecbaf4e75ca23030fa3a2a1ac54023, user_key=<pardot_user_key>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pardot-Rsp:
      - 16/22/251
      Content-Type:
      - text/xml; charset=utf-8
      X-Pardot-Route:
      - 4fa993bd92d83a19a78f84f1ddd264ce
      X-Pardot-Lb:
      - a083ac6fc1531fb089982e922db67d20
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rsp stat="fail" version="1.0">
           <err code="1">Invalid API key or user key</err>
        </rsp>
  recorded_at: Thu, 25 Feb 2021 23:00:12 GMT
- request:
    method: post
    uri: https://pi.pardot.com/api/login/version/4
    body:
      encoding: UTF-8
      string: email=<pardot_email_url>&password=<pardot_password_url>&user_key=<pardot_user_key>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pardot-Rsp:
      - 16/100/0
      Content-Type:
      - text/xml; charset=utf-8
      X-Pardot-Route:
      - 4fa993bd92d83a19a78f84f1ddd264ce
      X-Pardot-Lb:
      - a5df88223e39cf9fcb783877fed82f24
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rsp stat="ok" version="1.0">
           <api_key>612029395224750ed92be072c8c9fb59</api_key>
           <version>4</version>
        </rsp>
  recorded_at: Thu, 25 Feb 2021 23:00:12 GMT
- request:
    method: post
    uri: https://pi.pardot.com/api/prospect/version/4/do/read/fid/not-real-id?format=simple
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Pardot api_key=612029395224750ed92be072c8c9fb59, user_key=<pardot_user_key>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Pardot-Rsp:
      - 16/99/197
      Content-Type:
      - text/xml; charset=utf-8
      X-Pardot-Route:
      - 4fa993bd92d83a19a78f84f1ddd264ce
      X-Pardot-Lb:
      - a5df88223e39cf9fcb783877fed82f24
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rsp stat="fail" version="1.0">
           <err code="77">Invalid prospect fid</err>
        </rsp>
  recorded_at: Thu, 25 Feb 2021 23:00:13 GMT
recorded_with: VCR 6.0.0
