h1 {
    text-align: center;
}

div.card {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 10px auto;
    padding: 12px 20px;
}

.button {
    color: black;
    padding: 14px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 35%;
    background-color: white;
    border: 2px solid #0dc0dc;
}

.sm-button {
    color: black;
    padding: 14px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 20%;
    background-color: white;
    border: 2px solid #0dc0dc;
}

.button:hover {
    background-color: #0dc0dc;
    color: white;
}

.sm-button:hover {
    background-color: #0dc0dc;
    color: white;
}

logo {
    float: left;
}

img{
    height: 40px;
    width: auto;
}

.sticky-footer {
    text-align: center;
    padding-top: 25px;
    position:absolute;
    bottom:0;
    height:60px;
    width: 100%;
}

footer {
    position:absolute;
    bottom:0;
    width: 100%;
    left: 0;
}
