---
http_interactions:
- request:
    method: post
    uri: https://pi.demo.pardot.com/api/prospect/version/4/do/read/fid/0030v00000XxX0xXXX?format=simple
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <salesforce_access_token>
      Pardot-Business-Unit-Id:
      - 0Uv0v0000004C9mCAE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Pardot-Rsp:
      - 25/13/203
      Content-Type:
      - text/xml; charset=utf-8
      X-Pardot-Route:
      - 4fa993bd92d83a19a78f84f1ddd264ce
      X-Pardot-Lb:
      - 01f6d1eb96c2e46c10f3ecf450ddabd0
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rsp stat="fail" version="1.0">
           <err code="77">Invalid prospect fid</err>
        </rsp>
  recorded_at: Thu, 18 Mar 2021 19:20:12 GMT
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&username=<salesforce_username_url>&password=<salesforce_password_url><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D0v0000005T7U!AQQAQKOtEhUanX33ResHWfll_bn4OSOEZ624B2zhqjYr0ZBLF_ZkJQfojAg09wdDFMgV8h35nmPASIXu43u4LQXjA7MaJ3Jw","instance_url":"https://openstax--tutorqa.my.salesforce.com","id":"https://test.salesforce.com/id/00D0v0000005T7UEAU/005U0000005MXdmIAG","token_type":"Bearer","issued_at":"1617217807729","signature":"uYPxGvvqLwEz36nwYp0YqWuj9PhYeweTD7G7Ywm9rKY="}'
  recorded_at: Wed, 31 Mar 2021 19:10:07 GMT
recorded_with: VCR 6.0.0
