---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&username=<salesforce_username_url>&password=<salesforce_password_url><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<salesforce_access_token>","instance_url":"<salesforce_instance_url>","id":"<salesforce_instance_url>","token_type":"Bearer","issued_at":"1616095211084","signature":"x1N9/NoZPKvCtzRMIoic2qNYvx7xILHXElwXGrrlxd4="}'
  recorded_at: Thu, 18 Mar 2021 19:20:11 GMT
- request:
    method: post
    uri: https://pi.demo.pardot.com/api/prospect/version/4/do/read/fid/0030v00000UlS9yAAF?format=simple
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <salesforce_access_token>
      Pardot-Business-Unit-Id:
      - 0Uv0v0000004C9mCAE
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pardot-Rsp:
      - 25/13/203
      Content-Type:
      - text/xml; charset=utf-8
      X-Pardot-Route:
      - 4fa993bd92d83a19a78f84f1ddd264ce
      X-Pardot-Lb:
      - 81ef3179da45557cd28f9ba13d8805bd
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rsp stat="ok" version="1.0">
           <prospect>
              <id>34291125</id>
              <campaign_id>145615</campaign_id>
              <salutation>Mr.</salutation>
              <first_name>Michael</first_name>
              <last_name>Harrison</last_name>
              <email>mwharrison@rice.edu</email>
              <password/>
              <company>Rice University (Houston, TX)</company>
              <website/>
              <job_title/>
              <department/>
              <country>United States</country>
              <address_one/>
              <address_two/>
              <city/>
              <state/>
              <territory/>
              <zip/>
              <phone>713-348-4799</phone>
              <fax/>
              <source/>
              <annual_revenue/>
              <employees/>
              <industry/>
              <years_in_business/>
              <comments/>
              <notes/>
              <score>0</score>
              <grade/>
              <last_activity_at/>
              <recent_interaction>Never active.</recent_interaction>
              <crm_lead_fid/>
              <crm_contact_fid>0030v00000UlS9yAAF</crm_contact_fid>
              <crm_owner_fid>005U0000005akrEIAQ</crm_owner_fid>
              <crm_account_fid/>
              <salesforce_fid>0030v00000UlS9yAAF</salesforce_fid>
              <crm_last_sync>2021-03-10 14:53:52</crm_last_sync>
              <crm_url>https://openstax--tutorqa.my.salesforce.com/0030v00000UlS9yAAF</crm_url>
              <is_do_not_email></is_do_not_email>
              <is_do_not_call></is_do_not_call>
              <opted_out></opted_out>
              <is_reviewed>1</is_reviewed>
              <is_starred></is_starred>
              <created_at>2021-03-10 14:42:39</created_at>
              <updated_at>2021-03-10 14:53:53</updated_at>
              <campaign>
                 <id>145615</id>
                 <name>Sample Marketing</name>
              </campaign>
              <assigned_to>
                 <user>
                    <id>3602613</id>
                    <email>mwharrison@rice.edu</email>
                    <first_name>Michael</first_name>
                    <last_name>Harrison</last_name>
                    <job_title>Engineering Manager</job_title>
                    <role>Administrator</role>
                    <account>236293</account>
                    <created_at>2021-03-05 14:50:11</created_at>
                    <updated_at>2021-03-05 15:59:57</updated_at>
                 </user>
              </assigned_to>
              <prospect_account_id>4221093</prospect_account_id>
              <profile>
                 <id>901</id>
                 <name>Default</name>
                 <profile_criteria>
                    <id>4449</id>
                    <name>Company Size</name>
                    <matches>Unknown</matches>
                 </profile_criteria>
                 <profile_criteria>
                    <id>4451</id>
                    <name>Industry</name>
                    <matches>Unknown</matches>
                 </profile_criteria>
                 <profile_criteria>
                    <id>4453</id>
                    <name>Location</name>
                    <matches>Unknown</matches>
                 </profile_criteria>
                 <profile_criteria>
                    <id>4455</id>
                    <name>Job Title</name>
                    <matches>Unknown</matches>
                 </profile_criteria>
                 <profile_criteria>
                    <id>4457</id>
                    <name>Department</name>
                    <matches>Unknown</matches>
                 </profile_criteria>
              </profile>
              <visitors/>
              <visitor_activities/>
              <lists>
                 <list_subscription>
                    <id>34604887</id>
                    <did_opt_in>false</did_opt_in>
                    <did_opt_out>false</did_opt_out>
                    <created_at>2021-03-10 15:46:26</created_at>
                    <updated_at>2021-03-18 11:12:44</updated_at>
                    <list>
                       <id>5355</id>
                       <name>Customers</name>
                       <is_public>true</is_public>
                       <is_dynamic>false</is_dynamic>
                       <title>Customer News</title>
                       <description>This is for all customers to learn awesome new things</description>
                       <is_crm_visible>false</is_crm_visible>
                       <created_at>2021-03-05 14:50:08</created_at>
                       <updated_at>2021-03-10 12:45:12</updated_at>
                    </list>
                 </list_subscription>
                 <list_subscription>
                    <id>34605387</id>
                    <did_opt_in>false</did_opt_in>
                    <did_opt_out>false</did_opt_out>
                    <created_at>2021-03-11 14:41:48</created_at>
                    <updated_at>2021-03-17 15:11:10</updated_at>
                    <list>
                       <id>5359</id>
                       <name>Monthly Newsletter</name>
                       <is_public>true</is_public>
                       <is_dynamic>false</is_dynamic>
                       <title>Monthly Newsletter</title>
                       <description></description>
                       <is_crm_visible>false</is_crm_visible>
                       <created_at>2021-03-05 14:50:08</created_at>
                       <updated_at>2021-03-10 12:33:16</updated_at>
                    </list>
                 </list_subscription>
              </lists>
           </prospect>
        </rsp>
  recorded_at: Thu, 18 Mar 2021 19:20:11 GMT
- request:
    method: post
    uri: https://pi.demo.pardot.com/api/listMembership/version/4/do/create/list_id/5355/prospect_id/34291125?format=simple
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <salesforce_access_token>
      Pardot-Business-Unit-Id:
      - 0Uv0v0000004C9mCAE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Pardot-Rsp:
      - 25/81/66
      Content-Type:
      - text/xml; charset=utf-8
      X-Pardot-Route:
      - 4fa993bd92d83a19a78f84f1ddd264ce
      X-Pardot-Lb:
      - 01f6d1eb96c2e46c10f3ecf450ddabd0
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rsp stat="fail" version="1.0">
           <err code="58">That prospect is already a member of that list. Update the membership instead.</err>
        </rsp>
  recorded_at: Thu, 18 Mar 2021 19:20:11 GMT
recorded_with: VCR 6.0.0
