{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenStax Salesforce API V1",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://salesforce.openstax.org"
    }
  ],
  "securityDefinitions": {
    "cookieAuth": {
      "type": "apiKey",
      "description": "OpenStax SSO Token",
      "in": "cookies",
      "name": "oxa_dev"
    }
  },
  "paths": {
    "/api/v1/books/search": {
      "get": {
        "summary": "Search books",
        "tags": [
          "Books"
        ],
        "security": [
          {
            "cookieAuth": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "can search books",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "salesforce_id": {
                      "type": "array"
                    },
                    "name": {
                      "type": "array"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    },
    "/api/v1/contacts/{id}": {
      "get": {
        "summary": "Get Contact information",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "cookieAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "can fetch contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "salesforce_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "faculty_confirmed_date": {
                      "type": "string"
                    },
                    "faculty_verified": {
                      "type": "string"
                    },
                    "last_modified_at": {
                      "type": "datetime"
                    },
                    "school_id": {
                      "type": "string"
                    },
                    "school_type": {
                      "type": "string"
                    },
                    "adoption_status": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "grant_tutor_access": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "salesforce_id",
                    "name"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    },
    "/api/v1/contacts/add_school": {
      "parameters": [
        {
          "name": "contact_id",
          "in": "request",
          "schema": {
            "type": "object",
            "properties": {
              "contact_id": {
                "type": "string"
              },
              "school_id": {
                "type": "string"
              }
            },
            "required": [
              "contact_id",
              "school_id"
            ]
          }
        }
      ],
      "post": {
        "summary": " Add school to a contact",
        "responses": {
          "200": {
            "description": "school added to contact"
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    },
    "/api/v1/contacts/set_primary_school": {
      "parameters": [
        {
          "name": "contact_id",
          "in": "request",
          "schema": {
            "type": "object",
            "properties": {
              "contact_id": {
                "type": "string"
              },
              "school_id": {
                "type": "string"
              }
            },
            "required": [
              "contact_id",
              "school_id"
            ]
          }
        }
      ],
      "post": {
        "summary": "Set primary school on a contact",
        "responses": {
          "200": {
            "description": "primary school set"
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    },
    "/api/v1/contacts/remove_school": {
      "parameters": [
        {
          "name": "contact_id",
          "in": "request",
          "schema": {
            "type": "object",
            "properties": {
              "contact_id": {
                "type": "string"
              },
              "school_id": {
                "type": "string"
              }
            },
            "required": [
              "contact_id",
              "school_id"
            ]
          }
        }
      ],
      "delete": {
        "summary": "Remove school from a contact",
        "responses": {
          "200": {
            "description": "school deleted"
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    },
    "/api/v1/leads/{id}": {
      "get": {
        "summary": "Get Lead information",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "cookieAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "can fetch contact"
          },
          "202": {
            "description": "lead created"
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    },
    "/api/v1/lists/": {
      "get": {
        "summary": "Get Pardot list information",
        "tags": [
          "Pardot"
        ],
        "security": [
          {
            "cookieAuth": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "can fetch lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pardot_id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "pardot_id",
                    "title"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    },
    "/api/v1/lists/{list_id}/subscribe": {
      "parameters": [
        {
          "name": "list_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Subscribes to a mailing list",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "apiToken": [

            ]
          }
        ],
        "responses": {
          "202": {
            "description": "subscribe request processing"
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    },
    "/api/v1/lists/{list_id}/unsubscribe": {
      "parameters": [
        {
          "name": "list_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Unsubscribes from a mailing list",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "apiToken": [

            ]
          }
        ],
        "responses": {
          "202": {
            "description": "unsubscribe request processing"
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    },
    "/api/v1/opportunities/": {
      "post": {
        "summary": "Create an Opportunity",
        "tags": [
          "Opportunity"
        ],
        "security": [
          {
            "cookieAuth": [

            ]
          }
        ],
        "parameters": [

        ],
        "responses": {
          "202": {
            "description": "opportunity created"
          },
          "401": {
            "description": "not authorized without cookie"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "book_name": {
                    "type": "string"
                  },
                  "contact_id": {
                    "type": "string"
                  },
                  "new": {
                    "type": "boolean"
                  },
                  "close_date": {
                    "type": "string"
                  },
                  "number_of_students": {
                    "type": "string"
                  },
                  "class_start_date": {
                    "type": "string"
                  },
                  "school_id": {
                    "type": "string"
                  },
                  "book_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "stage_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "book_name",
                  "contact_id",
                  "close_date",
                  "number_of_students",
                  "school_id",
                  "stage_name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/opportunities/{id}": {
      "patch": {
        "summary": "Update an opportunity",
        "tags": [
          "Opportunity"
        ],
        "security": [
          {
            "apiToken": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "opportunity updated"
          },
          "401": {
            "description": "not authorized without cookie"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "salesforce_id": {
                  "type": "string"
                },
                "term_year": {
                  "type": "string"
                },
                "book_name": {
                  "type": "string"
                },
                "contact_id": {
                  "type": "string"
                },
                "new": {
                  "type": "boolean"
                },
                "close_date": {
                  "type": "string"
                },
                "number_of_students": {
                  "type": "string"
                },
                "class_start_date": {
                  "type": "string"
                },
                "school_id": {
                  "type": "string"
                },
                "book_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "stage_name": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/schools/search": {
      "get": {
        "summary": "Search schools",
        "tags": [
          "Schools"
        ],
        "security": [
          {
            "cookieAuth": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "can search schools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "int"
                    },
                    "salesforce_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "school_type": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "is_kip": {
                      "type": "boolean"
                    },
                    "is_child_of_kip": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    },
    "/api/v1/users": {
      "get": {
        "summary": "Returns a user",
        "tags": [
          "Users"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "user retrieved"
          },
          "401": {
            "description": "not authorized without cookie"
          }
        }
      }
    }
  }
}