---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/books":
    get:
      summary: List all Books
      tags:
      - Books
      parameters: []
      responses:
        '200':
          description: books retrieved
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                salesforce_id:
                  type: string
                name:
                  type: string
                created_at:
                  type: datetime
                updated_at:
                  type: datetime
              required:
              - salesforce_id
              - name
  "/api/v1/books/{id}":
    get:
      summary: Return one book
      tags:
      - Books
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: book found
          content: {}
        '404':
          description: book not found
          content: {}
  "/api/v1/campaigns":
    get:
      summary: List all Campaigns
      tags:
      - Campaigns
      parameters: []
      responses:
        '200':
          description: campaigns retrieved
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                salesforce_id:
                  type: string
                name:
                  type: string
                is_active:
                  type: boolean
                created_at:
                  type: datetime
                updated_at:
                  type: datetime
              required:
              - salesforce_id
              - name
  "/api/v1/campaigns/{id}":
    get:
      summary: Return one campaign
      tags:
      - Campaigns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: campaign found
          content: {}
        '404':
          description: campaign not found
          content: {}
  "/api/v1/contacts":
    get:
      summary: List all Contacts
      tags:
      - Contacts
      parameters: []
      responses:
        '200':
          description: contacts retrieved
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                salesforce_id:
                  type: string
                name:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                email_alt:
                  type: string
                faculty_confirmed_date:
                  type: datetime
                faculty_verified:
                  type: string
                last_modified_at:
                  type: datetime
                school_id:
                  type: string
                school_type:
                  type: string
                send_faculty_verification_to:
                  type: string
                all_emails:
                  type: string
                confirmed_emails:
                  type: string
                adoption_status:
                  type: string
                created_at:
                  type: datetime
                updated_at:
                  type: datetime
                grant_tutor_access:
                  type: boolean
              required:
              - salesforce_id
              - name
  "/api/v1/contacts/{id}":
    get:
      summary: Return one contact
      tags:
      - Contacts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: contact found
          content: {}
        '404':
          description: contact not found
          content: {}
  "/api/v1/leads":
    get:
      summary: List all Leads
      tags:
      - Leads
      parameters: []
      responses:
        '200':
          description: leads retrieved
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                salesforce_id:
                  type: string
                name:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                salutation:
                  type: string
                subject:
                  type: string
                school:
                  type: datetime
                phone:
                  type: string
                website:
                  type: datetime
                status:
                  type: string
                email:
                  type: string
                source:
                  type: string
                newsletter:
                  type: string
                newsletter_opt_in:
                  type: string
                adoption_status:
                  type: string
                num_students:
                  type: string
                os_accounts_id:
                  type: string
                accounts_uuid:
                  type: string
                application_source:
                  type: string
                role:
                  type: string
                who_chooses_books:
                  type: string
                verification_status:
                  type: string
                finalize_educator_signup:
                  type: string
                created_at:
                  type: datetime
                updated_at:
                  type: datetime
              required:
              - salesforce_id
              - name
  "/api/v1/leads/{id}":
    get:
      summary: Return one lead
      tags:
      - Leads
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: lead found
          content: {}
        '404':
          description: lead not found
          content: {}
  "/api/v1/schools":
    get:
      summary: List all Schools
      tags:
      - Schools
      parameters: []
      responses:
        '200':
          description: schools retrieved
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                salesforce_id:
                  type: string
                name:
                  type: string
                school_type:
                  type: string
                location:
                  type: string
                is_kip:
                  type: boolean
                is_child_of_kip:
                  type: boolean
                created_at:
                  type: datetime
                updated_at:
                  type: datetime
              required:
              - salesforce_id
              - name
              - school_type
  "/api/v1/schools/{id}":
    get:
      summary: Return one school
      tags:
      - Schools
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: school found
          content: {}
        '404':
          description: school not found
          content: {}
servers:
- url: https://salesforce.openstax.org
  variables:
    defaultHost:
      default: salesforce.openstax.org
