development:
  # Salesforce settings
  salesforce:
    login_domain: <%= ENV['SALESFORCE_LOGIN_DOMAIN'] || 'test.salesforce.com' %>
    username: <%= ENV['SALESFORCE_USERNAME'] %>
    password: <%= ENV['SALESFORCE_PASSWORD'] %>
    security_token: <%= ENV['SALESFORCE_SECURITY_TOKEN'] %>
    consumer_key: <%= ENV['SALESFORCE_CONSUMER_KEY'] %>
    consumer_secret: <%= ENV['SALESFORCE_CONSUMER_SECRET'] %>

test:
  # Salesforce settings
  salesforce:
    login_domain: <%= ENV['SALESFORCE_LOGIN_DOMAIN'] || 'test.salesforce.com' %>
    username: <%= ENV['SALESFORCE_USERNAME'] || 'salesforce_username' %>
    password: <%= ENV['SALESFORCE_PASSWORD'] || 'salesforce_password' %>
    security_token: <%= ENV['SALESFORCE_SECURITY_TOKEN'] || 'salesforce_security_token' %>
    consumer_key: <%= ENV['SALESFORCE_CONSUMER_KEY'] || 'salesforce_consumer_key' %>
    consumer_secret: <%= ENV['SALESFORCE_CONSUMER_SECRET'] || 'salesforce_consumer_secret' %>
