development:
  # Salesforce settings
  salesforce:
    login_domain: <%= ENV['SALESFORCE_LOGIN_DOMAIN'] || 'test.salesforce.com' %>
    username: <%= ENV['SALESFORCE_USERNAME'] %>
    password: <%= ENV['SALESFORCE_PASSWORD'] %>
    security_token: <%= ENV['SALESFORCE_SECURITY_TOKEN'] %>
    consumer_key: <%= ENV['SALESFORCE_CONSUMER_KEY'] %>
    consumer_secret: <%= ENV['SALESFORCE_CONSUMER_SECRET'] %>

  accounts:
    sso:
      signature_public_key: "<%= ENV['SSO_SIGNATURE_PUBLIC_KEY'] || '-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDjvO/E8lO+ZJ7JMglbJyiF5/Ae\nIIS2NKbIAMLBMPVBQY7mSqo6j/yxdVNKZCzYAMDWc/VvEfXQQJ2ipIUuDvO+SOwz\nMewQ70hC71hC4s3dmOSLnixDJlnsVpcnKPEFXloObk/fcpK2Vw27e+yY+kIFmV2X\nzrvTnmm9UJERp6tVTQIDAQAB\n-----END PUBLIC KEY-----\n' %>"
      encryption_private_key: "<%= ENV['SSO_ENCRYPTION_PRIVATE_KEY'] || 'c6d9b8683fddce8f2a39ac0565cf18ee' %>"
      cookie_name: <%= ENV['SSO_COOKIE_NAME'] || 'oxa' %>
      encryption_algorithm: <%= ENV['SSO_ENCRYPTION_ALGORITHM'] || 'dir' %>
      encryption_method: <%= ENV['SSO_ENCRYPTION_METHOD'] || 'A256GCM' %>
      signature_algorithm: <%= ENV['SSO_SIGNATURE_ALGORITHM'] || 'RS256' %>
    oauth:
      openstax_application_id: <%= ENV['OPENSTAX_APPLICATION_ID'] %>
      openstax_application_secret: <%= ENV['OPENSTAX_APPLICATION_SECRET'] %>
      openstax_accounts_url: <%= ENV['OPENSTAX_ACCOUNTS_URL'] %>
      enable_stubbing: <%= ENV['ENABLE_STUBBING'] || false %>

  redis:
    host: <%= ENV['REDIS_HOST'] || 'localhost' %>
    port: <%= ENV['REDIS_PORT'] || '6379' %>

test:
  # Salesforce settings
  salesforce:
    login_domain: <%= ENV['SALESFORCE_LOGIN_DOMAIN'] || 'test.salesforce.com' %>
    username: <%= ENV['SALESFORCE_USERNAME'] || 'salesforce_username' %>
    password: <%= ENV['SALESFORCE_PASSWORD'] || 'salesforce_password' %>
    security_token: <%= ENV['SALESFORCE_SECURITY_TOKEN'] || 'salesforce_security_token' %>
    consumer_key: <%= ENV['SALESFORCE_CONSUMER_KEY'] || 'salesforce_consumer_key' %>
    consumer_secret: <%= ENV['SALESFORCE_CONSUMER_SECRET'] || 'salesforce_consumer_secret' %>

  accounts:
    sso:
      signature_public_key: "<%= ENV['SSO_SIGNATURE_PUBLIC_KEY'] || '-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDjvO/E8lO+ZJ7JMglbJyiF5/Ae\nIIS2NKbIAMLBMPVBQY7mSqo6j/yxdVNKZCzYAMDWc/VvEfXQQJ2ipIUuDvO+SOwz\nMewQ70hC71hC4s3dmOSLnixDJlnsVpcnKPEFXloObk/fcpK2Vw27e+yY+kIFmV2X\nzrvTnmm9UJERp6tVTQIDAQAB\n-----END PUBLIC KEY-----\n' %>"
      encryption_private_key: "<%= ENV['SSO_ENCRYPTION_PRIVATE_KEY'] || 'c6d9b8683fddce8f2a39ac0565cf18ee' %>"
      cookie_name: <%= ENV['SSO_COOKIE_NAME'] || 'oxa' %>
      encryption_algorithm: <%= ENV['SSO_ENCRYPTION_ALGORITHM'] || 'dir' %>
      encryption_method: <%= ENV['SSO_ENCRYPTION_METHOD'] || 'A256GCM' %>
      signature_algorithm: <%= ENV['SSO_SIGNATURE_ALGORITHM'] || 'RS256' %>
    oauth:
      openstax_application_id: <%= ENV['OPENSTAX_APPLICATION_ID'] %>
      openstax_application_secret: <%= ENV['OPENSTAX_APPLICATION_SECRET'] %>
      openstax_accounts_url: <%= ENV['OPENSTAX_ACCOUNTS_URL'] %>
      enable_stubbing: <%= ENV['ENABLE_STUBBING'] || false %>

  redis:
    host: <%= ENV['REDIS_HOST'] || 'localhost' %>
    port: <%= ENV['REDIS_PORT'] || '6379' %>

production:
  secret_key_base: random(hex,80)

  database:
    url: "{{ database_endpoint }}"
    port: "{{ database_port }}"
    name: "{{ database_name }}"
    username: "{{ database_username }}"
    password: "{{ database_password }}"

  salesforce:
    login_domain: ssm(salesforce_login_domain)
    username: ssm(salesforce_username)
    password: ssm(salesforce_password)
    security_token: ssm(salesforce_security_token)
    consumer_key: ssm(salesforce_consumer_key)
    consumer_secret: ssm(salesforce_consumer_secret)

  accounts:
    sso:
      signature_public_key: | 
        ssm(sso_signature_public_key)
      encryption_private_key: ssm(sso_encryption_private_key)
      cookie_name: ssm(sso_cookie_name)
      encryption_algorithm: dir
      encryption_method: A256GCM
      signature_algorithm: RS256
    oauth:
      openstax_application_id: ssm(oauth_openstax_application_id)
      openstax_application_secret: ssm(oauth_openstax_application_secret)
      openstax_accounts_url: ssm(oauth_openstax_accounts_url)
      enable_stubbing: false

  scout:
    license_key: ssm(scout_license_key)

  pardot:
    login_url: ssm(pardot_login_url)
    business_unit_id: ssm(pardot_business_unit_id)

  sentry:
    dsn: ssm(sentry_dsn)

  redis:
    host: ssm(redis_host)
    port: ssm(redis_port)


