<div id='page-content'>
  <div>
    <div class="card">
      <p>UNAUTHORIZED</p>
      <p>You must be an admin to access this site</p>
      <%= button_to "Log out", openstax_accounts.logout_path, {method: :get, class: 'sm-button'} %>

    </div>

  </div>
</div>
