---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&username=<salesforce_username_url>&password=<salesforce_password_url><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<salesforce_access_token>","instance_url":"<salesforce_instance_url>","id":"<salesforce_id>","token_type":"Bearer","issued_at":"1624649892287","signature":"<salesforce_signature>"}'
  recorded_at: Fri, 25 Jun 2021 19:38:12 GMT
- request:
    method: post
    uri: https://o484761.ingest.sentry.io/api/5662313/envelope/
    body:
      encoding: UTF-8
      string: |
        {"event_id":"edc4aee9eaf946d6b4aaf249833c8b35","dsn":"https://b53391e012224f759ca7e71a8f2322c9@o484761.ingest.sentry.io/5662313","sdk":{"name":"sentry.ruby","version":"4.3.2"},"sent_at":"2021-06-29T19:12:09Z"}
        {"type":"transaction","content_type":"application/json"}
        {"event_id":"edc4aee9eaf946d6b4aaf249833c8b35","level":"error","timestamp":1624993929.16721,"start_timestamp":1624993929.137973,"release":"5b828ae","environment":"test","server_name":"Michaels-MacBook-Pro.local","modules":{"rake":"13.0.3","public_suffix":"4.0.6","addressable":"2.7.0","concurrent-ruby":"1.1.8","i18n":"1.8.10","minitest":"5.14.4","tzinfo":"2.0.4","zeitwerk":"2.4.2","activesupport":"6.1.3.2","builder":"3.2.4","erubi":"1.10.0","mini_portile2":"2.5.3","racc":"1.5.2","nokogiri":"1.11.7","rails-dom-testing":"2.0.3","crass":"1.0.6","loofah":"2.9.1","rails-html-sanitizer":"1.3.0","actionview":"6.1.3.2","rack":"2.2.3","rack-test":"1.1.0","actionpack":"6.1.3.2","nio4r":"2.5.7","websocket-extensions":"0.1.5","websocket-driver":"0.7.4","actioncable":"6.1.3.2","globalid":"0.4.2","activejob":"6.1.3.2","activemodel":"6.1.3.2","activerecord":"6.1.3.2","marcel":"1.0.1","mini_mime":"1.0.3","activestorage":"6.1.3.2","mail":"2.7.1","actionmailbox":"6.1.3.2","actionmailer":"6.1.3.2","actiontext":"6.1.3.2","bundler":"2.1.4","method_source":"1.0.0","thor":"1.1.0","railties":"6.1.3.2","sprockets":"4.0.2","sprockets-rails":"3.2.2","rails":"6.1.3.2","action_interceptor":"1.2.0","active_attr":"0.15.3","aes_key_wrap":"1.1.0","aws-eventstream":"1.1.1","aws-partitions":"1.434.0","aws-sigv4":"1.2.3","jmespath":"1.4.0","aws-sdk-core":"3.113.0","aws-sdk-autoscaling":"1.58.0","aws-sdk-ssm":"1.106.0","bindata":"2.4.8","msgpack":"1.4.2","bootsnap":"1.7.2","byebug":"11.1.3","docile":"1.3.5","simplecov-html":"0.12.3","simplecov_json_formatter":"0.1.2","simplecov":"0.21.2","codecov":"0.5.1","connection_pool":"2.2.5","safe_yaml":"1.0.5","crack":"0.4.3","database_cleaner-core":"2.0.1","database_cleaner-active_record":"2.0.0","declarative":"0.0.20","declarative-option":"0.1.0","diff-lcs":"1.4.4","diffy":"3.4.0","doorkeeper":"5.5.0","dotenv":"2.7.6","dotenv-rails":"2.7.6","et-orbi":"1.2.4","exception_notification":"4.4.3","factory_bot":"6.1.0","factory_bot_rails":"6.1.0","faker":"2.17.0","faraday-em_http":"1.0.0","faraday-em_synchrony":"1.0.0","faraday-excon":"1.1.0","faraday-net_http":"1.0.1","faraday-net_http_persistent":"1.1.0","multipart-post":"2.1.1","ruby2_keywords":"0.0.4","faraday":"1.4.2","faraday-http-cache":"2.2.0","faraday_middleware":"1.0.0","ffi":"1.15.0","raabro":"1.4.0","fugit":"1.4.5","hashdiff":"1.0.1","hashie":"4.1.0","mime-types-data":"3.2021.0225","mime-types":"3.3.1","multi_xml":"0.6.0","httparty":"0.18.1","json-jwt":"1.13.0","json-schema":"2.8.1","jwt":"2.2.3","keyword_search":"1.5.0","transaction_isolation":"1.0.5","transaction_retry":"1.0.3","lev":"11.0.0","rb-fsevent":"0.10.4","rb-inotify":"0.10.1","listen":"3.4.1","multi_json":"1.15.0","oauth2":"1.4.4","omniauth":"1.9.1","omniauth-oauth2":"1.7.1","request_store":"1.5.0","openstax_utilities":"4.5.2","uber":"0.1.0","representable":"3.0.4","responders":"3.0.1","roar":"1.1.0","test_xml":"0.1.8","roar-rails":"1.1.0","openstax_api":"9.4.0","pg":"1.2.3","openstax_accounts":"9.6.1","restforce":"5.0.5","openstax_active_force":"1.1.0","openstax_auth":"0.1.0","openstax_healthcheck":"1.0.0","openstax_salesforce":"5.4.0","puma":"4.3.8","rack-cors":"1.1.1","redis":"4.2.5","rspec-support":"3.10.2","rspec-core":"3.10.1","rspec-expectations":"3.10.1","rspec-mocks":"3.10.2","rspec-rails":"5.0.0","sidekiq":"6.2.1","rspec-sidekiq":"3.1.0","rswag-api":"2.4.0","rswag-specs":"2.4.0","rswag-ui":"2.4.0","rswag":"2.4.0","ruby-pardot":"1.4.0","sentry-ruby-core":"4.3.2","sentry-rails":"4.3.4","sentry-ruby":"4.3.2","sidekiq-cron":"1.2.0","sidekiq-failures":"1.0.0","spring":"2.1.1","spring-watcher-listen":"2.0.1","vcr":"6.0.0","yard":"0.9.26","versionist":"2.0.1","webmock":"3.12.1","will_paginate":"3.1.8"},"user":{},"tags":{"request_id":"a5d5d12f-0187-4ee6-bc40-c31d30469e3f"},"contexts":{"os":{"name":"Darwin","version":"Darwin Kernel Version 20.3.0: Thu Jan 21 00:07:06 PST 2021; root:xnu-7195.81.3~1/RELEASE_X86_64","build":"20.3.0","kernel_version":"Darwin Kernel Version 20.3.0: Thu Jan 21 00:07:06 PST 2021; root:xnu-7195.81.3~1/RELEASE_X86_64"},"runtime":{"name":"ruby","version":"ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-darwin19]"},"trace":{"trace_id":"22f1b1ad7fff4b63a6387c8cccc589f7","span_id":"1b04a0ac78745a5c","parent_span_id":null,"description":null,"op":"rails.request","status":"not_found"}},"extra":{},"transaction":"Api::V1::ListsController#unsubscribe","platform":"ruby","sdk":{"name":"sentry.ruby","version":"4.3.2"},"type":"transaction","breadcrumbs":{"values":[{"category":"start_processing.action_controller","data":{"controller":"Api::V1::ListsController","action":"unsubscribe","params":{"format":"json","controller":"api/v1/lists","action":"unsubscribe","list_id":"6391","list":{}},"format":"json","method":"GET","path":"/api/v1/lists/6391/unsubscribe","start_timestamp":1624993929.15165},"level":null,"message":null,"timestamp":1624993929,"type":null},{"category":"sql.active_record","data":{"sql":"SHOW search_path","name":"SCHEMA","binds":[],"type_casted_binds":[],"statement_name":null,"connection":"#<ActiveRecord::ConnectionAdapters::PostgreSQLAdapter:0x00007fb1e4f52e98>","start_timestamp":1624993929.154688},"level":null,"message":null,"timestamp":1624993929,"type":null},{"category":"sql.active_record","data":{"sql":"SELECT \"lists\".* FROM \"lists\" WHERE \"lists\".\"pardot_id\" = $1 LIMIT $2","name":"List Load","binds":["#<ActiveRecord::Relation::QueryAttribute:0x00007fb1e7885478>","#<ActiveModel::Attribute::WithCastValue:0x00007fb1f5564d08>"],"type_casted_binds":[6391,1],"statement_name":"a1","connection":"#<ActiveRecord::ConnectionAdapters::PostgreSQLAdapter:0x00007fb1e4f52e98>","start_timestamp":1624993929.160117},"level":null,"message":null,"timestamp":1624993929,"type":null},{"category":"instantiation.active_record","data":{"record_count":1,"class_name":"List","start_timestamp":1624993929.1626399},"level":null,"message":null,"timestamp":1624993929,"type":null},{"category":"sql.active_record","data":{"sql":"SELECT \"contacts\".* FROM \"contacts\" WHERE \"contacts\".\"salesforce_id\" = $1 LIMIT $2","name":"Contact Load","binds":["#<ActiveRecord::Relation::QueryAttribute:0x00007fb1e78b4fe8>","#<ActiveModel::Attribute::WithCastValue:0x00007fb247c1c568>"],"type_casted_binds":["0030v00000XxX0xXXX",1],"statement_name":"a2","connection":"#<ActiveRecord::ConnectionAdapters::PostgreSQLAdapter:0x00007fb1e4f52e98>","start_timestamp":1624993929.164642},"level":null,"message":null,"timestamp":1624993929,"type":null},{"category":"instantiation.active_record","data":{"record_count":0,"class_name":"Contact","start_timestamp":1624993929.166545},"level":null,"message":null,"timestamp":1624993929,"type":null},{"category":"process_action.action_controller","data":{"controller":"Api::V1::ListsController","action":"unsubscribe","params":{"format":"json","controller":"api/v1/lists","action":"unsubscribe","list_id":"6391","list":{}},"format":"json","method":"GET","path":"/api/v1/lists/6391/unsubscribe","start_timestamp":1624993929.151783,"response":"#<ActionDispatch::Response:0x00007fb1e7825848>","status":404,"view_runtime":0.15199999324977398,"db_runtime":5.693999992217869},"level":null,"message":null,"timestamp":1624993929,"type":null}]},"request":{"url":"http://www.example.com/api/v1/lists/6391/unsubscribe","method":"GET","headers":{"Content-Type":"application/json"},"env":{"SERVER_NAME":"www.example.com","SERVER_PORT":"80"}},"spans":[{"trace_id":"22f1b1ad7fff4b63a6387c8cccc589f7","span_id":"1a5a3eb2ba3bb678","parent_span_id":"1b04a0ac78745a5c","start_timestamp":1624993929.160117,"timestamp":1624993929.1608698,"description":"SELECT \"lists\".* FROM \"lists\" WHERE \"lists\".\"pardot_id\" = $1 LIMIT $2","op":"sql.active_record","status":null,"tags":{},"data":{"connection_id":null}},{"trace_id":"22f1b1ad7fff4b63a6387c8cccc589f7","span_id":"aef8cf389721d130","parent_span_id":"1b04a0ac78745a5c","start_timestamp":1624993929.164642,"timestamp":1624993929.165203,"description":"SELECT \"contacts\".* FROM \"contacts\" WHERE \"contacts\".\"salesforce_id\" = $1 LIMIT $2","op":"sql.active_record","status":null,"tags":{},"data":{"connection_id":null}},{"trace_id":"22f1b1ad7fff4b63a6387c8cccc589f7","span_id":"5a04f9c36f636e8a","parent_span_id":"1b04a0ac78745a5c","start_timestamp":1624993929.151783,"timestamp":1624993929.166964,"description":"Api::V1::ListsController#unsubscribe","op":"process_action.action_controller","status":"not_found","tags":{},"data":{"payload":{"controller":"Api::V1::ListsController","action":"unsubscribe","params":{"format":"json","controller":"api/v1/lists","action":"unsubscribe","list_id":"6391","list":{}},"format":"json","method":"GET","path":"/api/v1/lists/6391/unsubscribe","start_timestamp":1624993929.151783,"response":"#<ActionDispatch::Response:0x00007fb1e7825848>","status":404,"view_runtime":0.15199999324977398,"db_runtime":5.693999992217869},"status_code":404}}]}
    headers:
      Content-Type:
      - application/x-sentry-envelope
      X-Sentry-Auth:
      - Sentry sentry_version=5, sentry_client=sentry-ruby/4.3.2, sentry_timestamp=1624993929,
        sentry_key=b53391e012224f759ca7e71a8f2322c9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"edc4aee9eaf946d6b4aaf249833c8b35"}'
  recorded_at: Tue, 29 Jun 2021 19:12:09 GMT
recorded_with: VCR 6.0.0
