<div id='page-content'>
  <div>
    <div class="card">
      <% if signed_in? %>
        <h3>Welcome, <%= current_user.first_name %></h3>
        <%= button_to "Log out", openstax_accounts.logout_path, {method: :get, class: 'sm-button'} %>
        <% if current_user.is_administrator? %>
          <%= button_to "Oauth Applications", oauth_applications_path, {method: :get, class: 'button'} %>
        <%else %>
          <p>You must be an administrator to access this application</p>
        <% end %>
      <% else %>
        <h3>Please log in</h3>
        <%= button_to "Log in", {action: 'create', controller: 'login'}, {class: 'sm-button'} %>
      <% end %>
    </div>

  </div>
</div>
