---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&username=<salesforce_username_url>&password=<salesforce_password_url><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D0v0000005T7U!AQQAQAm3KBamPOwA69AfEJrwox_Ik1wBvAZ009d4eP3scOyIDkNl_LE231EEXCh4sSWyT2xcGaOWlNYn12sVOvpc27AaDtc8","instance_url":"https://openstax--tutorqa.my.salesforce.com","id":"https://test.salesforce.com/id/00D0v0000005T7UEAU/005U0000005MXdmIAG","token_type":"Bearer","issued_at":"1619114814682","signature":"wZG0Vksx00l6vGRsaoRCE9Q9h8tus/lwGIptAth3W7E="}'
  recorded_at: Thu, 22 Apr 2021 18:06:54 GMT
- request:
    method: get
    uri: https://openstax--tutorqa.my.salesforce.com/services/data/v37.0/query?q=SELECT%20Id,%20Name%20FROM%20Book__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D0v0000005T7U!AQQAQAm3KBamPOwA69AfEJrwox_Ik1wBvAZ009d4eP3scOyIDkNl_LE231EEXCh4sSWyT2xcGaOWlNYn12sVOvpc27AaDtc8
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=914/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":49,"done":true,"records":[{"attributes":{"type":"Book__c","url":"/services/data/v37.0/sobjects/Book__c/a0Z0v000002VhATEA0"},"Id":"a0Z0v000002VhATEA0","Name":"College
        Algebra with Corequisite Support"},{"attributes":{"type":"Book__c","url":"/services/data/v37.0/sobjects/Book__c/a0Z0v000002VhAUEA0"},"Id":"a0Z0v000002VhAUEA0","Name":"AP
        History"},{"attributes":{"type":"Book__c","url":"/services/data/v37.0/sobjects/Book__c/a0Z0v000002VhAiEAK"},"Id":"a0Z0v000002VhAiEAK","Name":"Business
        Law I Essentials"},{"attributes":{"type":"Book__c","url":"/services/data/v37.0/sobjects/Book__c/a0Z0v000002VhAVEA0"},"Id":"a0Z0v000002VhAVEA0","Na[...]
