---
http_interactions:
- request:
    method: get
    uri: https://openstax--dev.my.salesforce.com/services/data/v51.0/query?q=SELECT%20Id,%20Name,%20FirstName,%20LastName,%20Email,%20Email_alt__c,%20Faculty_Confirmed_Date__c,%20Faculty_Verified__c,%20LastModifiedDate,%20AccountId,%20School_Type__c,%20SendFacultyVerificationTo__c,%20All_Emails__c,%20Confirmed_Emails__c,%20Adoption_Status__c,%20Grant_Tutor_Access__c,%20BRI_Marketing__c,%20Title_1_school__c%20FROM%20Contact
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D7h0000004fCa!ARYAQFc8aN6lQP5WProC1qz2S1n8IH3vllSGDFQzANJOvMCFF4ZjmaRJ6GZFvq_eCSBRITf1tFaFEE0H0BUujSIFgbPZM4K_
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=326/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":10,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v51.0/sobjects/Contact/0037h00000TPcT0AAL"},"Id":"0037h00000TPcT0AAL","Name":"Kyle
        Glass","FirstName":"Kyle","LastName":"Glass","Email":"be12+278@rice.edu","Email_alt__c":null,"Faculty_Confirmed_Date__c":"2021-06-02","Faculty_Verified__c":"Confirmed","LastModifiedDate":"2021-06-02T20:09:27.000+0000","AccountId":"0017h00000Z83kCAAR","School_Type__c":null,"SendFacultyVerificationTo__c":null,"All_Emails__c":"be12+278@rice.edu","Confirmed_Emails__c":null,"Adoption_Status__c":"Not
        Adopter","Grant_Tutor_Access__c":false,"BRI_Marketing__c":false,"Title_1_school__c":false},{"attributes":{"type":"Contact","url":"/services/data/v51.0/sobjects/Contact/0037h00000TQjwbAAD"},"Id":"0037h00000TQjwbAAD","Name":"Michael
        Faculty","FirstName":"Michael","LastName":"Faculty","Email":"mwharrison+fac@rice.edu","Email_alt__c":null,"Faculty_Confirmed_Date__c":"2021-06-28","Faculty_Verified__c":"Confirmed","LastModifiedDate":"2021-06-28T19:35:09.000+0000","AccountId":"0017h00000Z7xEJAAZ","School_Type__c":"College/University
        (4)","SendFacultyVerificationTo__c":[...]
