---
http_interactions:
- request:
    method: get
    uri: https://openstax--dev.my.salesforce.com/services/data/v51.0/query?q=SELECT%20Id,%20ContactId,%20IsDirect,%20AccountId%20FROM%20AccountContactRelation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D7h0000004fCa!ARYAQOlFuh.YwYAh4m2ICW0GeD0quoeAozYwZU_nXNHA.D0cxmesIaZJcZtgEq.oJDNwRP5UyZHVDpM252BkLeGx5PN_TC.C
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=298/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":17,"done":true,"records":[{"attributes":{"type":"AccountContactRelation","url":"/services/data/v51.0/sobjects/AccountContactRelation/07k7h00000DNFgcAAH"},"Id":"07k7h00000DNFgcAAH","ContactId":"0037h00000SDIPmAAP","IsDirect":true,"AccountId":"0017h00000YMwbzAAD"},{"attributes":{"type":"AccountContactRelation","url":"/services/data/v51.0/sobjects/AccountContactRelation/07k7h00000DNFh7AAH"},"Id":"07k7h00000DNFh7AAH","ContactId":"0037h00000SDIbFAAX","IsDirect":true,"AccountId":"0017h00000YMwbzAAD"},{"attributes":{"type":"AccountContactRelation","url":"/services/data/v51.0/sobjects/AccountContactRelation/07k7h00000DNFjqAAH"},"Id":"07k7h00000DNFjqAAH","ContactId":"0037h00000SDJFfAAP","IsDirect":true,"AccountId":"0017h00000YMwbzAAD"},{"at[...]
