---
http_interactions:
- request:
    method: get
    uri: https://openstax--tutorqa.my.salesforce.com/services/data/v37.0/query?q=SELECT%20Id,%20IsActive,%20Name%20FROM%20Campaign
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D0v0000005T7U!AQQAQAm3KBamPOwA69AfEJrwox_Ik1wBvAZ009d4eP3scOyIDkNl_LE231EEXCh4sSWyT2xcGaOWlNYn12sVOvpc27AaDtc8
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=914/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":4,"done":true,"records":[{"attributes":{"type":"Campaign","url":"/services/data/v37.0/sobjects/Campaign/7010v000000kb8tAAA"},"Id":"7010v000000kb8tAAA","IsActive":true,"Name":"Test
        Campaign"},{"attributes":{"type":"Campaign","url":"/services/data/v37.0/sobjects/Campaign/7010v000000kbGCAAY"},"Id":"7010v000000kbGCAAY","IsActive":true,"Name":"Sample
        Marketing"},{"attributes":{"type":"Campaign","url":"/services/data/v37.0/sobjects/Campaign/7010v000000kbaZAAQ"},"Id":"7010v000000kbaZAAQ","IsActive":true,"Name":"cbe04e2e6a24edaa"},{"attributes":{"type":"Campaign","url":"/services/data/v37.0/sobjects/Campaign/7010v000000kbaeAAA"},"Id":"7010v000000kbaeAAA","IsActive":true,"Name":"04adca78cea45b5c"}]}'
  recorded_at: Thu, 22 Apr 2021 18:06:56 GMT
- request:
    method: get
    uri: https://openstax--tutorqa.my.salesforce.com/services/data/v37.0/query?q=SELECT%20Id,%20CampaignId,%20ContactId,%20accounts_uuid__c,%20pardot_reported_contact_id__c,%20pardot_reported_piaid__c,%20pardot_reported_picid__c,%20first_teacher_contact_id__c,%20arrived_marketing_page_from_pardot_at__c,%20arrived_marketing_page_not_from_pardot_a__c,%20first_arrived_my_courses_at__c,%20preview_created_at__c,%20real_course_created_at__c,%20like_preview_ask_later_count__c,%20like_preview_yes_at__c,%20latest_adoption_decision__c,%20latest_adoption_decision_at__c,%20Estimated_Enrollment__c,%20Ignored_OSAs__c,%20Percent_Enrolled__c,%20School_Type__c,%20Students_Registered__c,%20Students_Reported_by_Teacher__c,%20Students_with_work__c,%20SyncField__c%20FROM%20CampaignMember
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D0v0000005T7U!AQQAQAm3KBamPOwA69AfEJrwox_Ik1wBvAZ009d4eP3scOyIDkNl_LE231EEXCh4sSWyT2xcGaOWlNYn12sVOvpc27AaDtc8
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=914/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":3,"done":true,"records":[{"attributes":{"type":"CampaignMember","url":"/services/data/v37.0/sobjects/CampaignMember/00v0v000002jzHZAAY"},"Id":"00v0v000002jzHZAAY","CampaignId":"7010v000000kbGCAAY","ContactId":"0030v00000UlS9yAAF","accounts_uuid__c":null,"pardot_reported_contact_id__c":null,"pardot_reported_piaid__c":null,"pardot_reported_picid__c":null,"first_teacher_contact_id__c":null,"arrived_marketing_page_from_pardot_at__c":null,"arrived_marketing_page_not_from_pardot_a__c":null,"first_arrived_my_courses_at__c":null,"preview_created_at__c":null,"real_course_created_at__c":null,"like_preview_ask_later_count__c":null,"like_preview_yes_at__c":null,"latest_adoption_decision__c":null,"latest_adoption_decision_at__c":null,"Estimated_Enrollment__c":null,"Ignored_OSAs__c":false,"Percent_Enrolled__c":null,"School_Type__c":"College/University
        (4)","Students_Registered__c":null,"Students_Reported_by_Teacher__c":null,"Students_with_work__c":null,"SyncField__c":null},{"attributes":{"type":"CampaignMember","url":"/services/data/v37.0/sobjects/CampaignMember/00v0v000002jzHaAAI"},"Id":"00v0v000002jzHaAAI","CampaignId":"7010v000000kbGCAAY","ContactId":"0030v00000UjqeIAAR","accounts_uuid__c":null,"pardot_reported_contact_id__c":null,"pardot_reported_piaid__c":null,"pardot_reported_picid__c":null,"first_teacher_contact_id__c":null,"arrived_marketing_page_from_pardot_at__c":null,"arrived_marketing_page_not_from_pardot_a__c":null,"first_arrived_my_courses_at__[...]
