---
http_interactions:
- request:
    method: get
    uri: https://openstax--tutorqa.my.salesforce.com/services/data/v37.0/query?q=SELECT%20Id,%20Name%20FROM%20Book__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D0v0000005T7U!AQQAQAm3KBamPOwA69AfEJrwox_Ik1wBvAZ009d4eP3scOyIDkNl_LE231EEXCh4sSWyT2xcGaOWlNYn12sVOvpc27AaDtc8
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=914/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":49,"done":true,"records":[{"attributes":{"type":"Book__c","url":"/services/data/v37.0/sobjects/Book__c/a0Z0v000002VhATEA0"},"Id":"a0Z0v000002VhATEA0","Name":"College
        Algebra with Corequisite Support"},{"attributes":{"type":"Book__c","url":"/services/data/v37.0/sobjects/Book__c/a0Z0v000002VhAUEA0"},"Id":"a0Z0v000002VhAUEA0","Name":"AP
        History"},{"attributes":{"type":"Book__c","url":"/services/data/v37.0/sobjects/Book__c/a0Z0v000002VhAiEAK"},"Id":"a0Z0v000002VhAiEAK","Name":"Business
        Law I Essentials"},{"attributes":{"type":"Book__c","url":"/services/data/v37.0/sobjects/Book__c/a0Z0v000002VhAVEA0"},"Id":"a0Z0v000002VhAVEA0","Na[...]
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&username=<salesforce_username_url>&password=<salesforce_password_url><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D7h0000004fCa!ARYAQFc8aN6lQP5WProC1qz2S1n8IH3vllSGDFQzANJOvMCFF4ZjmaRJ6GZFvq_eCSBRITf1tFaFEE0H0BUujSIFgbPZM4K_","instance_url":"https://openstax--dev.my.salesforce.com","id":"https://test.salesforce.com/id/00D7h0000004fCaEAI/005U0000005MXdmIAG","token_type":"Bearer","issued_at":"1624993328343","signature":"9NDLG/x530NX+ae8wPBc1e4H98ThCV1eaZb8xb0APXg="}'
  recorded_at: Tue, 29 Jun 2021 19:02:08 GMT
- request:
    method: get
    uri: https://openstax--dev.my.salesforce.com/services/data/v51.0/query?q=SELECT%20Id,%20Name,%20Annualization_number__c%20FROM%20Book__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D7h0000004fCa!ARYAQFc8aN6lQP5WProC1qz2S1n8IH3vllSGDFQzANJOvMCFF4ZjmaRJ6GZFvq_eCSBRITf1tFaFEE0H0BUujSIFgbPZM4K_
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=326/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":49,"done":true,"records":[{"attributes":{"type":"Book__c","url":"/services/data/v51.0/sobjects/Book__c/a0Z7h000001a79DEAQ"},"Id":"a0Z7h000001a79DEAQ","Name":"AP
        History","Annualization_number__c":1.4},{"attributes":{"type":"Book__c","url":"/services/data/v51.0/sobjects/Book__c/a0Z7h000001a79EEAQ"},"Id":"a0Z7h000001a79EEAQ","Name":"Business
        Ethics","Annualization_number__c":1.6},{"attributes":{"type":"Book__c","url":"/services/data/v51.0/sobjects/Book__c/a0Z7h000001a79FEAQ"},"Id":"a0Z7h000001a79FEAQ","Name":"Business
        Statistics","Annualization_number__c":1.6},{"attributes":{"type":"Book__c","url":"/services/data/v51.0/sobjects/Book__c/a0Z7h000001a79GEAQ"},"Id":"a0Z7h000001[...]
