
.toolbar {
    background-color: #0dc0dc !important;
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolbar li {
    display: inline;
}

.nav-link {
  color: white !important
}

#logo {
  float: left;
  font-size: 1.2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

.sticky-footer {
    text-align: center;
    padding-top: 25px;
}

.content {
    margin-top: 72px;
}

.alert {
    padding: 20px;
    background-color: #df571e;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: white;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 30px;
}

th {
    background-color: #f1f1f1;
}

.h3 {
    text-align: center;
}

form {border: 3px solid #f1f1f1;}

form div {
    text-align: center;
}

.center-div {
    text-align: center;
}

.input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    background-color: #0dc0dc;
}

.table-button {
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #0dc0dc;
}


.button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 175px;
}



