---
http_interactions:
- request:
    method: post
    uri: https://pi.pardot.com/api/login/version/3
    body:
      encoding: UTF-8
      string: email=<pardot_email_url>&password=<pardot_password_url>&user_key=<pardot_user_key>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pardot-Rsp:
      - 16/93/152
      Content-Type:
      - text/xml; charset=utf-8
      X-Pardot-Route:
      - 4fa993bd92d83a19a78f84f1ddd264ce
      X-Pardot-Lb:
      - 4208770abb36eec2b2f3a1c951758cc1
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rsp stat="ok" version="1.0">
           <api_key>797fc136424e148e3e93f99c4dad4ca9</api_key>
           <version>4</version>
        </rsp>
  recorded_at: Wed, 10 Feb 2021 20:38:27 GMT
recorded_with: VCR 6.0.0
