---
http_interactions:
- request:
    method: post
    uri: https://pi.pardot.com/api/login/version/3
    body:
      encoding: UTF-8
      string: email=<pardot_email_url>&password=<pardot_password_url>&user_key=<pardot_user_key>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pardot-Rsp:
      - 17/12/213
      Content-Type:
      - text/xml; charset=utf-8
      X-Pardot-Route:
      - 4fa993bd92d83a19a78f84f1ddd264ce
      X-Pardot-Lb:
      - 7044ba9c794aba658bc1be2f8b8ad85c
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rsp stat="ok" version="1.0">
           <api_key>797fc136424e148e3e93f99c4dad4ca9</api_key>
           <version>4</version>
        </rsp>
  recorded_at: Wed, 10 Feb 2021 20:38:28 GMT
- request:
    method: post
    uri: https://pi.pardot.com/api/prospect/version/4/do/read/fid/003U000001i3mWpIAI?format=simple
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Pardot api_key=797fc136424e148e3e93f99c4dad4ca9, user_key=<pardot_user_key>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pardot-Rsp:
      - 16/24/48
      Content-Type:
      - text/xml; charset=utf-8
      X-Pardot-Route:
      - 4fa993bd92d83a19a78f84f1ddd264ce
      X-Pardot-Lb:
      - 7044ba9c794aba658bc1be2f8b8ad85c
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rsp stat="ok" version="1.0">
           <prospect>
              <id>1053618</id>
              <campaign_id>1028</campaign_id>
              <salutation/>
              <first_name>Bonnie</first_name>
              <last_name>Moreno</last_name>
              <email>bmoreno@rangercollege.edu</email>
              <password/>
              <company>Ranger College</company>
              <website>http://www.rangercollege.edu</website>
              <job_title>Advisor/Spanish Instructor</job_title>
              <department/>
              <country>United States</country>
              <address_one>1100 College Circle</address_one>
              <address_two></address_two>
              <city>Ranger</city>
              <state>Texas</state>
              <territory/>
              <zip>76470</zip>
              <phone>(325) 641-5726</phone>
              <fax/>
              <source>Conference</source>
              <annual_revenue/>
              <employees/>
              <industry/>
              <years_in_business/>
              <comments/>
              <notes/>
              <score>5</score>
              <grade>C+</grade>
              <last_activity_at/>
              <recent_interaction>Opted out.</recent_interaction>
              <crm_lead_fid/>
              <crm_contact_fid>003U000001i3mWpIAI</crm_contact_fid>
              <crm_owner_fid>005U0000000gYNUIA2</crm_owner_fid>
              <crm_account_fid/>
              <salesforce_fid>003U000001i3mWpIAI</salesforce_fid>
              <crm_last_sync>2020-02-04 16:38:20</crm_last_sync>
              <crm_url>https://openstax.my.salesforce.com/003U000001i3mWpIAI</crm_url>
              <is_do_not_email>1</is_do_not_email>
              <is_do_not_call></is_do_not_call>
              <opted_out>1</opted_out>
              <is_reviewed></is_reviewed>
              <is_starred></is_starred>
              <created_at>2016-09-07 21:21:34</created_at>
              <updated_at>2020-02-04 17:19:24</updated_at>
              <campaign>
                 <id>1028</id>
                 <name>Initial Salesforce import</name>
              </campaign>
              <Adoption_Status>Not Adopter</Adoption_Status>
              <All_Time_Savings>0</All_Time_Savings>
              <Anniversary_Date>2020-06-29</Anniversary_Date>
              <Books_Adopted>None</Books_Adopted>
              <Contact_Description>2017-02-4, ABS, TCCTA 2017 pre-registration
        2016/03/30, ABS, TCCTA 2016, pre-registered</Contact_Description>
              <Contact_ID>003U000001i3mWp</Contact_ID>
              <Created_Date>2016-03-30</Created_Date>
              <Current_Term_Savings>0</Current_Term_Savings>
              <Current_Term_Students>0</Current_Term_Students>
              <Current_Year_Savings>0</Current_Year_Savings>
              <Current_Year_Students>0</Current_Year_Students>
              <Formsite>https://fs10.formsite.com/denverrice/form1/fill?&amp;4=Bonnie&amp;5=Moreno&amp;6=bmoreno@rangercollege.edu&amp;7=Ranger%20College&amp;8=003U000001i3mWp</Formsite>
              <Formsite_No>https://fs10.formsite.com/denverrice/form1/fill?&amp;4=Bonnie&amp;5=Moreno&amp;6=bmoreno@rangercollege.edu&amp;7=Ranger%20College&amp;8=003U000001i3mWp&amp;10=3</Formsite_No>
              <Formsite_Yes>https://fs10.formsite.com/denverrice/form1/fill?&amp;4=Bonnie&amp;5=Moreno&amp;6=bmoreno@rangercollege.edu&amp;7=Ranger%20College&amp;8=003U000001i3mWp&amp;10=1</Formsite_Yes>
              <Has_OS_account__c>No</Has_OS_account__c>
              <How_many_years>3 years ago</How_many_years>
              <Initial_Adoption_Date>2017-06-29</Initial_Adoption_Date>
              <Last_In_Touch_Date>2016-11-10</Last_In_Touch_Date>
              <Newsletter_Opt_Out_c>true</Newsletter_Opt_Out_c>
              <Number_of_Subjects__c>1</Number_of_Subjects__c>
              <Partner_products_interest>0</Partner_products_interest>
              <Partner_types_in_use__c>Not using any partners</Partner_types_in_use__c>
              <Partners_in_use>0</Partners_in_use>
              <Position>Faculty</Position>
              <School_Location_c>Domestic</School_Location_c>
              <School_Type__c>Technical/Community College (2)</School_Type__c>
              <Subject_Interest>Other</Subject_Interest>
              <Theme>Default</Theme>
              <To_Date_Savings>0</To_Date_Savings>
              <To_Date_Students>0</To_Date_Students>
              <Tutor_Course_Sections>0</Tutor_Course_Sections>
              <Tutor_Interest__c>false</Tutor_Interest__c>
              <prospect_account_id>70922</prospect_account_id>
              <profile>
                 <id>62</id>
                 <name>Default</name>
                 <profile_criteria>
                    <id>302</id>
                    <name>Current Term Students</name>
                    <matches>Unknown</matches>
                 </profile_criteria>
                 <profile_criteria>
                    <id>306</id>
                    <name>Faculty Verified</name>
                    <matches>Unknown</matches>
                 </profile_criteria>
                 <profile_criteria>
                    <id>310</id>
                    <name>Subject Interest</name>
                    <matches>Unknown</matches>
                 </profile_criteria>
                 <profile_criteria>
                    <id>1138</id>
                    <name>% Pell Grant Students</name>
                    <matches>Unknown</matches>
                 </profile_criteria>
                 <profile_criteria>
                    <id>1140</id>
                    <name>Position</name>
                    <matches>Matches</matches>
                 </profile_criteria>
                 <profile_criteria>
                    <id>1292</id>
                    <name>HBCU</name>
                    <matches>Matches</matches>
                 </profile_criteria>
              </profile>
              <visitors/>
              <visitor_activities>
                 <visitor_activity>
                    <id>22376484</id>
                    <type>6</type>
                    <type_name>Email</type_name>
                    <details>Get free, peer-reviewed textbooks for your courses.</details>
                    <email_id>1546108</email_id>
                    <email_template_id>832</email_template_id>
                    <campaign>
                       <id>122</id>
                       <name>Email Plug-in</name>
                    </campaign>
                    <created_at>2016-10-06 10:17:08</created_at>
                    <updated_at>2016-10-06 10:17:08</updated_at>
                 </visitor_activity>
                 <visitor_activity>
                    <id>32992870</id>
                    <type>6</type>
                    <type_name>Email</type_name>
  [...]
