<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Salesforce API', login_path, class: "navbar-brand", id: "logo"  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Users", users_path, class: "nav-link"%>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "Logout", logout_path, class: "nav-link", method: :delete%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
