<nav class="toolbar">
  <%= link_to 'Salesforce API', login_path, class: "navbar-brand", id: "logo"  %>

  <div id="navbarSupportedContent">
    <ul>
      <% if logged_in? %>
        <li>
          <%= link_to "Users", users_path, class: "nav-link"%>
        </li>
        <li>
          <%= link_to "Logout", logout_path, class: "nav-link", method: :delete%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
